<form action="">
  Email: <input type="text" name="email" />
  Password: <input type="text" name="password" />
  Class: <input type="text" name="classname" />
  <button class="btn btn-success" id="btn-signup">Sign Up</button>
</form>